<!doctype html>
{% load static%}
<head>
    <title></title>
    <meta charset=utf-8>
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <meta name=viewport content="width=device-width, initial-scale=1.0" />
    <meta name=description content="">
    <link href="{% static 'css/site-7c6faa7b.css'%}" rel=stylesheet />
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#close").click(function (ev1) {
                ev1.stopPropagation;
                $("#discount").attr("style", "display:none")
            });
            $("#link").click(function () {
                window.location="{% url 'GameSpeeder'%}"
            })
        })
    </script>
    <script type="text/javascript">
        $(function () {
            var MobileUA = (function () {
                var ua = navigator.userAgent.toLowerCase();

                var mua = {
                    IOS: /ipod|iphone|ipad/.test(ua), //iOS
                    IPHONE: /iphone/.test(ua), //iPhone
                    IPAD: /ipad/.test(ua), //iPad
                    ANDROID: /android/.test(ua), //Android Device
                    WINDOWS: /windows/.test(ua), //Windows Device
                    TOUCH_DEVICE: ('ontouchstart' in window) || /touch/.test(ua), //Touch Device
                    MOBILE: /mobile/.test(ua), //Mobile Device (iPad)
                    ANDROID_TABLET: false, //Android Tablet
                    WINDOWS_TABLET: false, //Windows Tablet
                    TABLET: false, //Tablet (iPad, Android, Windows)
                    SMART_PHONE: false //Smart Phone (iPhone, Android)
                };

                mua.ANDROID_TABLET = mua.ANDROID && !mua.MOBILE;
                mua.WINDOWS_TABLET = mua.WINDOWS && /tablet/.test(ua);
                mua.TABLET = mua.IPAD || mua.ANDROID_TABLET || mua.WINDOWS_TABLET;
                mua.SMART_PHONE = mua.MOBILE && !mua.TABLET;

                return mua;
            }());

            //SmartPhone
            if (MobileUA.SMART_PHONE) {
                // 移动端链接地址

                document.location.href = '{% url "MobileMain" %}';
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#drop1").click(function (event) {
                event.stopPropagation();
                $("#menudown1").attr("style", "opacity:1;display:block;transform:matrix(1,0,0,1,0,0)");
                $("#menudown2").attr("style", "opacity:0;display:none;transform:matrix(0,0,0,0,0,0)");
                $("#menudown3").attr("style", "opacity:0;display:none;transform:matrix(0,0,0,0,0,0)");
            });
            $("#drop2").click(function (event1) {
                event1.stopPropagation();
                $("#menudown2").attr("style", "opacity:1;display:block;transform:matrix(1,0,0,1,0,0)");
                $("#menudown1").attr("style", "opacity:0;display:none;transform:matrix(0,0,0,0,0,0)");
                $("#menudown3").attr("style", "opacity:0;display:none;transform:matrix(0,0,0,0,0,0)");
            });
            $("#drop3").click(function (event2) {
                event2.stopPropagation();
                $("#menudown3").attr("style", "opacity:1;display:block;transform:matrix(1,0,0,1,0,0)");
                $("#menudown2").attr("style", "opacity:0;display:none;transform:matrix(0,0,0,0,0,0)");
                $("#menudown1").attr("style", "opacity:0;display:none;transform:matrix(0,0,0,0,0,0)");
            });
            $("body").click(function () {
                $("#menudown1").attr("style", "opacity:0;display:none;transform:matrix(0,0,0,0,0,0)");
                $("#menudown2").attr("style", "opacity:0;display:none;transform:matrix(0,0,0,0,0,0)");
                $("#menudown3").attr("style", "opacity:0;display:none;transform:matrix(0,0,0,0,0,0)");
            })
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#loading").attr("style", "display:none;opacity:block");
            $("#homepage").attr("style", "display:block")
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#a1").click(function () {
                $("#pj1").attr("class", "bui-Tabs-listItem is-active");
                $("#pj2").attr("class", "bui-Tabs-listItem");
                $("#pj3").attr("class", "bui-Tabs-listItem");
                $("#pj4").attr("class", "bui-Tabs-listItem");
                $("#pj5").attr("class", "bui-Tabs-listItem");
                $("#ct1").attr("class", "bui-Tabs-pane is-active");
                $("#ct2").attr("class", "bui-Tabs-pane");
                $("#ct3").attr("class", "bui-Tabs-pane");
                $("#ct4").attr("class", "bui-Tabs-pane");
                $("#ct5").attr("class", "bui-Tabs-pane");
            });
            $("#a2").click(function () {
                $("#pj2").attr("class", "bui-Tabs-listItem is-active");
                $("#pj1").attr("class", "bui-Tabs-listItem");
                $("#pj3").attr("class", "bui-Tabs-listItem");
                $("#pj4").attr("class", "bui-Tabs-listItem");
                $("#pj5").attr("class", "bui-Tabs-listItem");
                $("#ct2").attr("class", "bui-Tabs-pane is-active");
                $("#ct1").attr("class", "bui-Tabs-pane");
                $("#ct3").attr("class", "bui-Tabs-pane");
                $("#ct4").attr("class", "bui-Tabs-pane");
                $("#ct5").attr("class", "bui-Tabs-pane");
            });
            $("#a3").click(function () {
                $("#pj3").attr("class", "bui-Tabs-listItem is-active");
                $("#pj2").attr("class", "bui-Tabs-listItem");
                $("#pj1").attr("class", "bui-Tabs-listItem");
                $("#pj4").attr("class", "bui-Tabs-listItem");
                $("#pj5").attr("class", "bui-Tabs-listItem");
                $("#ct3").attr("class", "bui-Tabs-pane is-active");
                $("#ct2").attr("class", "bui-Tabs-pane");
                $("#ct1").attr("class", "bui-Tabs-pane");
                $("#ct4").attr("class", "bui-Tabs-pane");
                $("#ct5").attr("class", "bui-Tabs-pane");
            });
            $("#a4").click(function () {
                $("#pj4").attr("class", "bui-Tabs-listItem is-active");
                $("#pj2").attr("class", "bui-Tabs-listItem");
                $("#pj3").attr("class", "bui-Tabs-listItem");
                $("#pj1").attr("class", "bui-Tabs-listItem");
                $("#pj5").attr("class", "bui-Tabs-listItem");
                $("#ct4").attr("class", "bui-Tabs-pane is-active");
                $("#ct2").attr("class", "bui-Tabs-pane");
                $("#ct3").attr("class", "bui-Tabs-pane");
                $("#ct1").attr("class", "bui-Tabs-pane");
                $("#ct5").attr("class", "bui-Tabs-pane");
            });
            $("#a5").click(function () {
                $("#pj5").attr("class", "bui-Tabs-listItem is-active");
                $("#pj2").attr("class", "bui-Tabs-listItem");
                $("#pj3").attr("class", "bui-Tabs-listItem");
                $("#pj4").attr("class", "bui-Tabs-listItem");
                $("#pj1").attr("class", "bui-Tabs-listItem");
                $("#ct5").attr("class", "bui-Tabs-pane is-active");
                $("#ct2").attr("class", "bui-Tabs-pane");
                $("#ct3").attr("class", "bui-Tabs-pane");
                $("#ct4").attr("class", "bui-Tabs-pane");
                $("#ct1").attr("class", "bui-Tabs-pane");
            })
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#bt1").click(function () {
                $("#bt1").attr("class", "is-active bui-u-mr--large");
                $("#bt2").attr("class", "bui-u-mr--large");
                $("#bt3").attr("class", "bui-u-mr--large");
                $("#bt4").attr("class", "bui-u-mr--large");
                $("#plancontent1").attr("style", "display:block");
                $("#plancontent2").attr("style", "display:none");
                $("#plancontent3").attr("style", "display:none");
                $("#plancontent4").attr("style", "display:none")
            });
            $("#bt2").click(function () {
                $("#bt2").attr("class", "is-active bui-u-mr--large");
                $("#bt1").attr("class", "bui-u-mr--large");
                $("#bt3").attr("class", "bui-u-mr--large");
                $("#bt4").attr("class", "bui-u-mr--large");
                $("#plancontent2").attr("style", "display:block");
                $("#plancontent1").attr("style", "display:none");
                $("#plancontent3").attr("style", "display:none");
                $("#plancontent4").attr("style", "display:none")
            });
            $("#bt3").click(function () {
                $("#bt3").attr("class", "is-active bui-u-mr--large");
                $("#bt2").attr("class", "bui-u-mr--large");
                $("#bt1").attr("class", "bui-u-mr--large");
                $("#bt4").attr("class", "bui-u-mr--large");
                $("#plancontent3").attr("style", "display:block");
                $("#plancontent2").attr("style", "display:none");
                $("#plancontent1").attr("style", "display:none");
                $("#plancontent4").attr("style", "display:none")
            });
            $("#bt4").click(function () {
                $("#bt4").attr("class", "is-active bui-u-mr--large");
                $("#bt2").attr("class", "bui-u-mr--large");
                $("#bt3").attr("class", "bui-u-mr--large");
                $("#bt1").attr("class", "bui-u-mr--large");
                $("#plancontent4").attr("style", "display:block");
                $("#plancontent2").attr("style", "display:none");
                $("#plancontent3").attr("style", "display:none");
                $("#plancontent1").attr("style", "display:none")
            })
        })
    </script>
</head>
<div id="loading" style="display:block; opacity: 1;">
    <div id="preloader" style="opacity: 1;">
        <span></span>
        <span></span>
    </div>
</div>
<div class="index bui js-disabled" id="homepage" style="display:none">
    <a href="#" class="bui-Banner bui-AnnouncementBanner" data-home-announcement data-home-announcement-cookie=alert_droplets_jan_2018 id="discount">
        <div class=bui-Banner-content>
            <span class="bui-Pill bui-Pill--new bui-u-mr--small">Discount</span>
            <p data-home-announcement-message>
                New <strong>Game Speeder plans</strong>
                :lower delay,and lower price for new users. <strong id="link">Learn &nbsp;more</strong>
                .
            </p>
        </div>
        <button class="bui-Button--reset bui-Banner-close" type=button data-bui-banner-close id="close">
            <svg class="bui-Icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 212.982 212.982" style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve" width="12px" height="12px">
<g id="Close">
            <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312   c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312   l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937   c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z" fill="#FFDA44" />



</g>
</svg>
        </button>
    </a>
    <div class="SiteFrame">
        <header class="GlobalHeader GlobalHeader--transparent" data-global-header role=banner id="desktop-header">
            <nav class=bui-Container role=navigation>
                <ul class=GlobalHeader-list>
                    <li>
                        <a href="/" class=GlobalHeader-siteLogo>
                            <svg id="1" data-name="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1726.8 400" width="172" height="40">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            font-size: 238.14px;
                                            fill: #fff;
                                            stroke: #fff;
                                            stroke-miterlimit: 10;
                                            stroke-width: 12px;
                                            font-family: MicrosoftYaHei, Microsoft YaHei;
                                            letter-spacing: -0.15em;
                                        }

                                        .cls-2 {
                                            letter-spacing: -0.04em;
                                        }

                                        .cls-3 {
                                            fill: none;
                                        }

                                        .cls-4 {
                                            fill: #708aff;
                                        }

                                        .cls-5 {
                                            fill: #3d6edd;
                                        }

                                        .cls-6 {
                                            fill: #9dc1ff;
                                        }
                                    </style>
                                </defs>
                                <title></title>
                                <text class="cls-1" transform="translate(499 278.19) scale(0.93 1)">T<tspan class="cls-2" x="100.47" y="0">eamUranus</tspan></text>
                                <path class="cls-3" d="M71.31,349.52c-.53-1.07-1-2.15-1.56-3.23l-.45-1c-.49-1.06-1-2.11-1.45-3.17l-.47-1.07c-.45-1.05-.91-2.09-1.35-3.15l-.45-1.11c-.43-1.06-.86-2.11-1.28-3.18-.13-.34-.26-.69-.4-1-.42-1.1-.84-2.2-1.24-3.31l-.21-.6q-1.79-4.95-3.31-10c-10.91,10.61-15.82,19.53-13.27,25.8s12.31,9.2,27.53,9.17c-.57-1.09-1.13-2.18-1.68-3.28C71.58,350.07,71.45,349.79,71.31,349.52Z" transform="translate(0 -61)" />
                                <path class="cls-3" d="M455.51,177.56c-2.55-6.27-12.3-9.22-27.53-9.18a199,199,0,0,1,14.26,35C453.14,192.74,458.06,183.82,455.51,177.56Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M364,114.33a199.77,199.77,0,0,0-164.33,86q11-4.82,22.43-9.48c70.08-28.55,136.72-46.19,187.32-51.5A200.25,200.25,0,0,0,303.66,68.1a199.94,199.94,0,0,1,84.53,47.74A200.81,200.81,0,0,0,364,114.33Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M90.1,380.2c-.58-.78-1.14-1.57-1.71-2.35C89,378.63,89.52,379.42,90.1,380.2Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M285.19,64c1.2.21,2.4.44,3.59.67C287.59,64.41,286.39,64.18,285.19,64Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M289.9,64.85c1.28.26,2.56.53,3.83.81C292.46,65.38,291.18,65.11,289.9,64.85Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M299.14,66.92c1.45.36,2.89.74,4.32,1.13C302,67.66,300.59,67.28,299.14,66.92Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M442.19,203.39l.05,0a198.69,198.69,0,0,0-14.26-35c-38.62.1-112.51,19.41-193.65,52.47-20.61,8.4-40.26,17.1-58.57,25.86A200,200,0,0,0,226.53,459.5,199.9,199.9,0,0,1,90.39,380.58c.41.56.83,1.12,1.25,1.67A199.66,199.66,0,0,0,250.69,461c110.46,0,200-89.54,200-200a203.77,203.77,0,0,0-1.43-24l0,0A198.44,198.44,0,0,0,442.19,203.39Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M69.75,346.29c.51,1.08,1,2.16,1.56,3.23C70.78,348.45,70.26,347.37,69.75,346.29Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M66,337.93c.44,1.06.9,2.1,1.35,3.15C66.93,340,66.47,339,66,337.93Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M64.3,333.64c.42,1.07.85,2.13,1.28,3.18C65.15,335.77,64.72,334.71,64.3,333.64Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M62.66,329.29c.4,1.11.82,2.21,1.24,3.31C63.48,331.5,63.06,330.4,62.66,329.29Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M87,375.85l-.23-.33Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M67.85,342.15c.47,1.06,1,2.12,1.45,3.17C68.81,344.27,68.32,343.21,67.85,342.15Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M59.14,318.65h0q1.53,5.09,3.31,10Q60.66,323.74,59.14,318.65Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M294.55,65.84c1.37.3,2.72.62,4.07,1C297.27,66.46,295.92,66.14,294.55,65.84Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M51.41,278c-.06-.7-.12-1.4-.17-2.1C51.29,276.55,51.35,277.25,51.41,278Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M265.77,61.56l2.67.23Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M50.81,267.64,50.75,266Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M260.78,61.25c.8,0,1.58.1,2.37.15C262.36,61.35,261.58,61.29,260.78,61.25Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M255.76,61.07c.63,0,1.26,0,1.89.07C257,61.11,256.39,61.08,255.76,61.07Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M73.4,353.62h0c-.57-1.09-1.13-2.18-1.68-3.28C72.27,351.44,72.83,352.53,73.4,353.62Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M280.41,63.2c1.13.17,2.25.36,3.38.54C282.66,63.56,281.54,63.37,280.41,63.2Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M51.89,282.9c-.08-.72-.16-1.45-.23-2.17C51.73,281.45,51.81,282.18,51.89,282.9Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M275.58,62.54c1.06.13,2.1.28,3.15.43C277.68,62.82,276.64,62.67,275.58,62.54Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M270.7,62c1,.1,1.95.22,2.92.33C272.65,62.21,271.68,62.09,270.7,62Z" transform="translate(0 -61)" />
                                <path class="cls-4" d="M51.05,272.9c0-.66-.08-1.31-.11-2C51,271.59,51,272.24,51.05,272.9Z" transform="translate(0 -61)" />
                                <path class="cls-5" d="M226.53,459.88a200,200,0,0,1-50.77-212.79C122,272.8,79.8,299,59.14,319q1.53,5.07,3.31,10l.21.59c.4,1.11.82,2.21,1.24,3.31.14.35.27.7.4,1,.42,1.06.85,2.12,1.28,3.17l.45,1.11c.44,1.06.9,2.11,1.35,3.15.16.36.31.72.47,1.07.47,1.06,1,2.12,1.45,3.17l.45,1c.51,1.08,1,2.16,1.56,3.23l.41.82c.55,1.1,1.11,2.19,1.68,3.28h.11a205.53,205.53,0,0,0,13.23,21.91l.23.33c.46.67.94,1.33,1.42,2s1.13,1.57,1.71,2.35c.1.13.19.26.29.38A199.86,199.86,0,0,0,226.53,459.88Z" transform="translate(0 -61)" />
                                <path class="cls-5" d="M199.69,200.34a199.52,199.52,0,0,1,188.5-84.5,199.92,199.92,0,0,0-84.53-47.73l-.2-.06c-1.43-.39-2.87-.77-4.32-1.13l-.51-.12c-1.36-.33-2.71-.66-4.07-1l-.83-.18c-1.27-.28-2.54-.55-3.82-.81l-1.13-.21c-1.19-.23-2.39-.46-3.59-.67l-1.4-.23c-1.12-.18-2.25-.37-3.38-.54L278.73,63c-1-.15-2.09-.3-3.15-.43l-2-.22c-1-.11-1.94-.23-2.92-.33l-2.26-.2-2.67-.23-2.62-.16c-.78,0-1.57-.11-2.36-.15l-3.14-.12-1.89-.07q-2.52-.06-5.07-.06c-110.45,0-200,89.54-200,200,0,1.66,0,3.32.07,5,0,.55,0,1.1.05,1.65,0,1.1.08,2.2.13,3.3,0,.66.08,1.31.11,2,.06,1,.12,2,.19,3,0,.7.11,1.4.17,2.09.08.93.16,1.86.25,2.79.07.72.15,1.45.23,2.17s.14,1.37.22,2.05C87.69,256.8,139.25,226.76,199.69,200.34Z" transform="translate(0 -61)" />
                                <path class="cls-6" d="M499.73,159.54c-7.74-19-41.59-25.29-90.29-20.18-50.6,5.31-117.24,22.95-187.32,51.5q-11.4,4.65-22.43,9.48C139.25,226.76,87.69,256.8,52.11,285,13.72,315.31-6.08,343.47,1.66,362.46s41.59,25.27,90.26,20.17l-.28-.38c-.42-.55-.84-1.11-1.25-1.67-.1-.13-.19-.26-.29-.38l-1.71-2.35-1.42-2-.23-.33A166,166,0,0,1,73.51,353l-.11,1h0c-15.22-.35-25-3.29-27.53-9.56s2.36-15.18,13.27-25.79h0C79.8,298.57,122,272.42,175.76,246.71c18.31-8.76,38-17.46,58.57-25.86,81.14-33.06,155-52.37,193.65-52.47,15.23,0,25,2.91,27.53,9.18s-2.37,15.18-13.27,25.78l-.05,0a198.44,198.44,0,0,1,7,33.67l0,0C487.64,206.68,507.46,178.53,499.73,159.54Z" transform="translate(0 -61)" />
                            </svg>
                        </a>
                    </li>
                    <li class="GlobalHeader-listItem GlobalHeader-listItem--extraSpace bui-Dropdown bui-Dropdown--left is-open" aria-haspopup=true aria-expanded=true>
                        <a href="#" class=GlobalHeader-link id="drop1" data-dropdown=true>
                            Products
                            <img class="bui-Icon bui-Icon--small" src="{% static 'img/arrow-down.svg'%}">
                        </a>
                        <div class="bui-Dropdown-content bui-Dropdown-content--panel GlobalHeaderDropdown GlobalHeaderDropdown--products" id="menudown1" style="opacity:0;display:none;transform:matrix(0,0,0,0,0,0)">
                            <ul class=bui-u-list>
                                <li class="GlobalHeaderDropdown-item GlobalHeaderDropdown-item--stacked GlobalHeaderDropdown-item--interactive">
                                    <a href="{% url 'GameSpeeder'%}" class=GlobalHeaderDropdown-link>
                                        <div class=IconLink>
                                            <div class=IconLink-icon>
                                                <img alt="" src="{% static 'img/icon/power.svg' %}" />
                                            </div>
                                            <div class=IconLink-content>
                                                <p class="Text--xsmall Text--xsmall--dark bui-u-mv--remove">Game Speeder</p>
                                                <p class="Text--xsmall IconLink-contentDescription">cn2 advanced route,connect directly </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="GlobalHeaderDropdown-item GlobalHeaderDropdown-item--stacked GlobalHeaderDropdown-item--interactive">
                                    <a href="{% url 'Wait' %}" class=GlobalHeaderDropdown-link>
                                        <div class=IconLink>
                                            <div class=IconLink-icon>
                                                <img src="{% static 'img/icon/magnifier.svg' %}" />
                                            </div>
                                            <div class=IconLink-content>
                                                <p class="Text--xsmall Text--xsmall--dark bui-u-mv--remove">Pictures Search </p>
                                                <p class="Text--xsmall IconLink-contentDescription">search hidden pictures in some sites</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="GlobalHeaderDropdown-item GlobalHeaderDropdown-item--stacked GlobalHeaderDropdown-item--interactive">
                                    <a href="{% url 'Ssr' %}" class=GlobalHeaderDropdown-link>
                                        <div class=IconLink>
                                            <div class=IconLink-icon>
                                                <img src="{% static 'img/icon/ladder.svg' %}" alt="" />
                                            </div>
                                            <div class=IconLink-content>
                                                <p class="Text--xsmall Text--xsmall--dark bui-u-mv--remove">Proxy Service</p>
                                                <p class="Text--xsmall IconLink-contentDescription">a solution to the DNS pollution </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="GlobalHeaderDropdown-item GlobalHeaderDropdown-item--stacked GlobalHeaderDropdown-item--interactive">
                                    <a href="{% url 'Wait' %}" class=GlobalHeaderDropdown-link>
                                        <div class="IconLink IconLink--centered IconLink--small">
                                            <div class=IconLink-icon>
                                                <img src="{% static 'img/icon/dream.svg' %}" alt="" />
                                            </div>
                                            <span class=IconLink-content>More Products Comming Soon </span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="GlobalHeader-listItem bui-Dropdown bui-Dropdown--left" aria-haspopup=true aria-expanded=false>
                        <a href="#" class=GlobalHeader-link data-dropdown=true id="drop2">
                            Community
                            <img class="bui-Icon bui-Icon--small" src="{% static 'img/arrow-down.svg' %}">
                        </a>
                        <div class="bui-Dropdown-content bui-Dropdown-content--panel GlobalHeaderDropdown GlobalHeaderDropdown--community" id="menudown2">
                            <div class=GlobalHeaderDropdown-header>
                                <p class="Text--smallish Text--smallish--dark bui-u-mb--xsmall">Join&Explore the Uranus Community </p>
                                <p class=GlobalHeaderDropdown-content>Don't think too much,just have fun with other developers </p>
                                <p class="Text--xsmall Text--xsmall--dark bui-u-mb--remove">Find Yourself</p>
                            </div>
                            <ul class="bui-u-list GlobalHeaderDropdown-tileList">
                                <li class="GlobalHeaderDropdown-item GlobalHeaderDropdown-item--interactive GlobalHeaderDropdown-item--tile">
                                    <a href="{% url 'Wait' %}" class=GlobalHeaderDropdown-link>
                                        <div class="IconLink IconLink--full IconLink--small">
                                            <div class="IconLink-icon IconLink-icon">
                                                <img src="{% static 'img/icon/project.svg' %}" alt="" />
                                            </div>
                                            <div class="IconLink-content IconLink-content">Projects</div>
                                        </div>
                                        <div class=GlobalHeaderDropdown-secondaryContent>get involved in any project you are intersted in</div>
                                    </a>
                                </li>
                                <li class="GlobalHeaderDropdown-item GlobalHeaderDropdown-item--interactive GlobalHeaderDropdown-item--tile">
                                    <a href="{% static 'Wait' %}" class=GlobalHeaderDropdown-link>
                                        <div class="IconLink IconLink--full IconLink--small">
                                            <div class="IconLink-icon IconLink-icon">
                                                <img src="{% static 'img/icon/question.svg' %}" alt="" />
                                                <noscript>
                                                    <img src="{% static 'img/icon/question.svg' %}" alt="" />
                                                </noscript>
                                            </div>
                                            <div class="IconLink-content IconLink-content">Q &A</div>
                                        </div>
                                        <div class=GlobalHeaderDropdown-secondaryContent>Ask a development question or answer others' questions. </div>
                                    </a>
                                </li>
                            </ul>
                            <div class=GlobalHeaderDropdown-tileList>
                                <dl class="GlobalHeaderDropdown-item GlobalHeaderDropdown-item--tile">
                                    <dt class="Text--xsmall Text--xsmall--dark bui-u-mb--small">Get Involved </dt>
                                    <dd>
                                        <a href="{% url 'Wait' %}" target=_blank>Join us as a developer</a>
                                        <br>
                                        <span class="Text--smaller IconLink-contentDescription"></span>
                                    </dd>
                                    <dd>
                                        <a href="{% url 'Wait' %}" target=_blank>Propaganda for Uranus</a>
                                        <br>
                                        <span class="Text--smaller IconLink-contentDescription"></span>
                                    </dd>
                                </dl>
                                <dl class="GlobalHeaderDropdown-item GlobalHeaderDropdown-item--tile">
                                    <dt class="Text--xsmall Text--xsmall--dark bui-u-mb--small">Contribute Creativity</dt>
                                    <dd>
                                        <a href="{% url 'Wait' %}" target=_blank>Contribute your illustration to Uranus</a>
                                        <br>
                                        <span class="Text--smaller IconLink-contentDescription">Infinite Creativity</span>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </li>
                    <li class="GlobalHeader-listItem GlobalHeader-spaceRight">
                        <a href="{% url 'Wait' %}" class=GlobalHeader-link>Lollipop</a>
                    </li>

                    <li class="GlobalHeader-listItem bui-Dropdown bui-Dropdown--left" aria-haspopup=true aria-expanded=false>
                        <a href="#" class=GlobalHeader-link data-dropdown=true id="drop3">
                            More Info
                            <img class="bui-Icon bui-Icon--small" src="{% static 'img/arrow-down.svg' %}">
                        </a>
                        <div class="bui-Dropdown-content bui-Dropdown-content--panel GlobalHeaderDropdown GlobalHeaderDropdown--support" style="display:none;opacity:0;transform:matrix(0,0,0,0,0,0)" id="menudown3">
                            <ul class=bui-u-list>
                                <li class="GlobalHeaderDropdown-item GlobalHeaderDropdown-item--stacked GlobalHeaderDropdown-item--interactive">
                                    <a href="{% url 'Wait' %}" class=GlobalHeaderDropdown-link>
                                        <div class="IconLink IconLink--small">
                                            <div class="IconLink-icon IconLink-icon">
                                                <img src="{% static 'img/icon/support.svg' %}" alt="" />
                                            </div>
                                            <div class="IconLink-content IconLink-content">
                                                <p class="Text--xsmall Text--xsmall--dark bui-u-mv--remove">Contact Support </p>
                                                <p class="Text--xsmall IconLink-contentDescription"></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="GlobalHeaderDropdown-item GlobalHeaderDropdown-item--stacked GlobalHeaderDropdown-item--interactive">
                                    <a href="{% url 'Wait' %}" class=GlobalHeaderDropdown-link>
                                        <div class="IconLink IconLink--small">
                                            <div class="IconLink-icon IconLink-icon">
                                                <img src="{% static 'img/icon/FAQ.svg' %}" alt="" />
                                            </div>
                                            <div class="IconLink-content IconLink-content">
                                                <p class="Text--xsmall Text--xsmall--dark bui-u-mv--remove">FAQ </p>
                                                <p class="Text--xsmall IconLink-contentDescription"></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="GlobalHeaderDropdown-item GlobalHeaderDropdown-item--stacked GlobalHeaderDropdown-item--interactive">
                                    <a href="{% url 'Wait' %}" class=GlobalHeaderDropdown-link>
                                        <div class="IconLink IconLink--small">
                                            <div class="IconLink-icon IconLink-icon">
                                                <img src="{% static 'img/icon/joinus.svg' %}" alt="" />
                                            </div>
                                            <div class="IconLink-content IconLink-content">
                                                <p class="Text--xsmall Text--xsmall--dark bui-u-mv--remove">Join Us</p>
                                                <p class="Text--xsmall IconLink-contentDescription"></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class=GlobalHeader-listItem>
                        <a href="{% url 'Login' %}" class=GlobalHeader-link>Login</a>
                    </li>
                    <li class=GlobalHeader-listItem>
                        <a href="{% url 'Register' %}" class="bui-Button bui-Button--outline bui-Button--mini GlobalHeader-button">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="SiteFrame-body" role="main">
            <header class="GraphicalHero GraphicalHero--customers"> <div class="bui-Container"> <div class="GraphicalHero-artwork"> <img alt="" src="{% static 'img/source/customers.svg' %}"> </div> <div class="bui-GridContainer"> <div class="bui-Col-7@medium bui-u-pb--xlarge"> <h1 class="Text--xxlarge"> See what Uranus are&nbsp;developing </h1> <p class="Text--regular Text--regular--light bui-u-mb--large bui-u-pr--large"> Developing on the cloud all over the world <br>start from zero step by step with TeamUranus </p> </div> </div> </div></header>
            <section class="bui-Section bui-Section--narrow">
                <div class="bui-Container">
                    <ul class="Home-logoList">
                        <li class="Home-logoListItem Home-logoListItem--gitlab">
                            <img class="is-loaded" alt="" src="{% static 'img/item/linux.svg' %}" />
                        </li>
                        <li class="Home-logoListItem Home-logoListItem--gitlab">
                            <img class="is-loaded" alt="" src="{% static 'img/item/android.svg' %}" />
                        </li>
                        <li class="Home-logoListItem Home-logoListItem--gitlab">
                            <img class="is-loaded" alt="" src="{% static 'img/item/windows.svg' %}" />
                        </li>
                        <li class="Home-logoListItem Home-logoListItem--gitlab">
                            <img class="is-loaded" alt="" src="{% static 'img/item/paper-plane.svg' %}" />
                        </li>
                        <li class="Home-logoListItem Home-logoListItem--gitlab">
                            <img class="is-loaded" alt="" src="{% static 'img/item/github.svg' %}" />
                        </li>
                        <li class="Home-logoListItem Home-logoListItem--gitlab">
                            <img class="is-loaded" alt="" src="{% static 'img/item/overflowing.svg' %}" />
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="Rule--stout" %="">
            <section class="bui-Section bui-Section--narrow">
                <div class="bui-Container">
                    <h2 class="Text--xlarge bui-u-mb--xlarge bui-u-textCenter LineLength LineLength--normal-big">
                        Have a view of the products we can provide for you
                    </h2>
                    <ul class="bui-GridContainer bui-u-flexDeepMatch RichBoxList">
                        <li class="bui-Col-4@medium">
                            <a class="bui-Box bui-Box--clickable RichBoxList-itemContent" href="">
                                <div class="RichBoxList-itemIcon">
                                    <img class="is-loaded" alt="" src="{% static 'img/icon/power.svg' %}">
                                </div>
                                <h3 class="Text--smallish bui-u-mt--regular">Game Speeder based on udp</h3>
                                <p class="bui-u-mt--small bui-u-pb--regular RichBoxList-itemDescription">
                                    We are focusing on make a convenient,cheap and efficient universal game speeder
                                    for every player,especially the students.At the same time,you can get rid of expensive
                                    speeder cost.Just enjoy your game now with Uranus.
                                </p>
                                <div class="RichBoxList-itemLink bui-u-textMedium">
                                    more info click here
                                </div>
                            </a>
                        </li>
                        <li class="bui-Col-4@medium">
                            <a class="bui-Box bui-Box--clickable RichBoxList-itemContent" href="">
                                <div class="RichBoxList-itemIcon">
                                    <img class="is-loaded" alt="" src="{% static 'img/icon/magnifier.svg' %}">
                                </div>
                                <h3 class="Text--smallish bui-u-mt--regular">Advanced picture search</h3>
                                <p class="bui-u-mt--small bui-u-pb--regular RichBoxList-itemDescription">
                                    Some websites forbid search engine grasp some of thier infomation.Take Pixiv for example,only when
                                    you become thier premium user can you explore the pictures by popularity.We try to provide a free engine
                                    to get those hidden pictures.
                                </p>
                                <div class="RichBoxList-itemLink bui-u-textMedium">
                                    more info click here
                                </div>
                            </a>
                        </li>
                        <li class="bui-Col-4@medium">
                            <a class="bui-Box bui-Box--clickable RichBoxList-itemContent" href="">
                                <div class="RichBoxList-itemIcon">
                                    <img class="is-loaded" alt="" src="{% static 'img/icon/ssr.svg' %}">
                                </div>
                                <h3 class="Text--smallish bui-u-mt--regular">SSR service</h3>
                                <p class="bui-u-mt--small bui-u-pb--regular RichBoxList-itemDescription">
                                    In some countries ,DNS pollution is very common so that their citizens are seperated from the the world Internet
                                    .By using proxy service,you can explore the Internet without any limit.When you are using this service,please obey
                                    the law in your region.
                                </p>
                                <div class="RichBoxList-itemLink bui-u-textMedium">
                                    more info click here
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="bui-Section bui-Section--panel bui-u-pb--xlarge">
                <div class=bui-Container>
                    <h2 class="Text--xlarge bui-u-textCenter">See What we are focusing now</h2>
                    <p class="Text--regular bui-u-mb--xlarge bui-u-textCenter">explore the Uranus community,learn more and practice more</p>
                </div>
                <div class="bui-Container bui-Container--small">
                    <div class=bui-GridContainer>
                        <div class="bui-Col-4@medium">
                            <nav>
                                <ul class="bui-Tabs bui-Tabs--verticalList bui-u-mb--large" data-home-seamlessly-tabs data-pushstate-ignore>
                                    <li class="bui-Tabs-listItem is-active" id="pj1">
                                        <a href="#seamlessly-Deploy" data-home-seamlessly-tabs-trigger id="a1">web crawler </a>
                                    </li>
                                    <li class="bui-Tabs-listItem" id="pj2">
                                        <a href="#seamlessly-Manage" data-home-seamlessly-tabs-trigger id="a2">server maintance</a>
                                    </li>
                                    <li class="bui-Tabs-listItem" id="pj3">
                                        <a href="#seamlessly-Secure" data-home-seamlessly-tabs-trigger id="a3">Secure </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="bui-Col-8@medium">
                            <div class=bui-Tabs-content>
                                <div class="bui-Tabs-pane is-active" data-home-seamlessly-tabs-pane id="ct1">
                                    <div class=bui-GridContainer>
                                        <div class="bui-Col-6@small bui-u-mb--large">
                                            <img src="{% static 'img/focusing/py.svg' %}" alt="" />
                                            <noscript>
                                                <img src="{% static 'img/focusing/py.svg' %}" alt="" />
                                            </noscript>
                                            <h3 class="Text--smallish bui-u-mt--small">crawler based on py</h3>
                                            <p>By using python,we are focusing on the pictures search.We are trying to improve the effect and efficient of our web crawler </p>
                                        </div>
                                        <div class="bui-Col-6@small bui-u-mb--large">
                                            <img src="{% static 'img/focusing/hacker.svg' %}" alt="" />
                                            <noscript>
                                                <img src="{% static 'img/focusing/hacker.svg' %}" alt="" />
                                            </noscript>
                                            <h3 class="Text--smallish bui-u-mt--small">Get something hidden</h3>
                                            <p>
                                                Many website forbid usual search Engine to get the info of their content,such as pixiv.We are trying to use the account credential enumeration attack to
                                                get some data(such as pictures) you want.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="bui-Tabs-pane" data-home-seamlessly-tabs-pane id="ct2">
                                    <div class=bui-GridContainer>
                                        <div class="bui-Col-6@small bui-u-mb--large">
                                            <img src="{% static 'img/focusing/bug.svg' %}" alt="" />
                                            <noscript>
                                                <img src="{% static 'img/focusing/bug.svg' %}" alt="" />
                                            </noscript>
                                            <h3 class="Text--smallish bui-u-mt--small">Operation and Maintance</h3>
                                            <p>
                                                Based on linux,our server is secured in some aspects.But we have to face with many attack form the public Internet.
                                                We are making progress when we are involved in daily maintance.
                                            </p>
                                        </div>
                                        <div class="bui-Col-6@small bui-u-mb--large">
                                            <img src="{% static 'img/focusing/maintance.svg' %}" alt="" />
                                            <noscript>
                                                <img src="{% static 'img/focusing/maintance.svg' %}" alt="" />
                                            </noscript>
                                            <h3 class="Text--smallish bui-u-mt--small">Devloping more functions</h3>
                                            <p>We are trying to achieve more functions to make our technical thoughts come ture.More functions are comming soon</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="bui-Tabs-pane" data-home-seamlessly-tabs-pane id="ct3">
                                    <div class=bui-GridContainer>
                                        <div class="bui-Col-6@small bui-u-mb--large">
                                            <img src="{% static 'img/focusing/firewall.svg' %}" alt="" />
                                            <noscript>
                                                <img src="{% static 'img/focusing/firewall.svg' %}" alt="" />
                                            </noscript>
                                            <h3 class="Text--smallish bui-u-mt--small">Cloud Firewalls </h3>
                                            <p>Easily secure your infrastructure and instantly define what services are visible on all of our Droplets. </p>
                                        </div>
                                        <div class="bui-Col-6@small bui-u-mb--large">
                                            <img src="{% static 'img/focusing/private.svg' %}" alt="" />
                                            <noscript>
                                                <img src="{% static 'img/focusing/private.svg' %}" alt="" />
                                            </noscript>
                                            <h3 class="Text--smallish bui-u-mt--small">Private networking </h3>
                                            <p>Enable communication between Droplets in the same datacenter. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="bui-Section bui-u-pb--xlarge" id="plan-scroll">
                <div class=bui-Container>
                    <h2 class="Text--xlarge bui-u-textCenter">Ready to get started with Uranus?Choose a plan you prefer.</h2>
                    <div class="bui-GridContainer bui-GridContainer-largeGutter@medium bui-u-pt--xlarge bui-u-pb--xlarge bui-u-flexMiddle@medium bui-u-flexMiddleOverride">
                        <ul class="bui-Tabs bui-Tabs-list bui-Tabs-list--centered" data-bui-tabs-api-terminal="" data-pushstate-ignore="">
                            <li class="bui-u-mr--large is-active" id="bt1">
                                <a href="#ruby-tab" data-bui-tabs-api-terminal-trigger="" aria-selected="true">Lightweight</a>
                            </li>
                            <li class="bui-u-mr--large" id="bt2">
                                <a href="#curl-tab" data-bui-tabs-api-terminal-trigger="">Advanced</a>
                            </li>
                            <li class="bui-u-mr--large" id="bt3">
                                <a href="#go-tab" data-bui-tabs-api-terminal-trigger="">Flexible</a>
                            </li>
                            <li id="bt4" class="bui-u-mr--large">
                                <a href="#doctl-tab" data-bui-tabs-api-terminal-trigger="">DIY Mode</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bui-Container" id="plancontent1" style="display:block">
                    <div class="plan-bg bgp1">
                        <h1>Lightweight Plan</h1>
                        <img src="{% static 'img/source/floating-ips.svg' %}" />
                        <p>Start your game speeder in a lightweight scale.Only 100 RMB for a whole year</p>
                        <a class="bui-Button--bottom bui-Button--primary bui-Button--withIconRight planlink" href="">Take this plan now</a>
                    </div>
                </div>
                <div class="bui-Container" id="plancontent2" style="display:none">
                    <div class="plan-bg bgp2">
                        <h1>Advanced Plan</h1>
                        <img src="{% static 'img/source/block-storage.svg' %}" />
                        <p>Start your game speeder in a advanced scale.Enjoy your VIP priority with 25RMB per month </p>
                        <a class="bui-Button--bottom bui-Button--primary bui-Button--withIconRight planlink" href="">Take this plan now</a>
                    </div>
                </div>
                <div class="bui-Container" id="plancontent3" style="display:none">
                    <div class="plan-bg bgp3">
                        <h1>Flexible Plan</h1>
                        <img src="{% static 'img/source/load-balancers.svg' %}" />
                        <p>Start your game speeder in a lightweight scale.The price is as low as 15RMB per month</p>
                        <a class="bui-Button--bottom bui-Button--primary bui-Button--withIconRight planlink" href="">Take this plan now</a>
                    </div>
                </div>
                <div class="bui-Container" id="plancontent4" style="display:none">
                    <div class="plan-bg bgp4">
                        <h1>DIY Mode Plan</h1>
                        <img src="{% static 'img/source/diy.png' %}" />
                        <p>You can DIY your speeder server or crowd-funding with others,we will deploy it for you.Just enjoy your game!The price depends on your sever scale</p>
                        <a class="bui-Button--bottom bui-Button--primary bui-Button--withIconRight planlink" href="">Take this plan now</a>
                    </div>
                </div>
            </section>
            <section class="FooterCTA-container bui-u-mt--large"> <div class="bui-Container"> <div class="FooterCTA FooterCTA--slim"> <div class="FooterCTA-content"> <p class="Text--large bui-u-mb--remove"> Ready to get started with Uranus? </p> <p class="Text--regular bui-u-mt--small bui-u-mv--remove"> Creat an account in Uranus. </p> </div> <div class="FooterCTA-actions"> <a class="bui-Button bui-Button--primary bui-Button--withIconRight" href="{% url 'Register' %}"> Sign Up <svg xmlns="http://www.w3.org/2000/svg" class="bui-Icon" aria-hidden="true"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right" /> </svg> </a> </div> </div> </div> </section>
        </main>
        <div class="bui SiteFrame-footer">
            <footer class="GlobalFooter">
                <div class="bui-Container">
                    <h5 class="bui-u-mb--xlarge bui-u-textCenter LineLength LineLength--normal-big footer-text">
                        Do somthing big with Team Uranus
                    </h5>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </footer>
        </div>
    </div>
    <div style="display:none">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <symbol viewBox="0 0 32 32" id=arrow-right xmlns="http://www.w3.org/2000/svg">
                <path d="M24.448 14.784L10.048.96c-.64-.64-1.856-.64-2.496 0-.32.32-.512.768-.512 1.28 0 .448.192.896.512 1.216l13.12 12.608-13.12 12.608c-.32.32-.512.704-.512 1.152 0 .32.128.64.448 1.088l.064.128c.32.32.768.512 1.216.512s.896-.192 1.216-.512L24.32 17.28c.32-.32.512-.768.512-1.216s-.064-.96-.384-1.28z" />
            </symbol>
        </svg>
    </div>
</div>

